<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game prototype</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="wrapper">
        <div class="players">
            <div>
                <h1>Follower</h1>
                <button class="controls" data-action="follower_bottom_line_bust">Follower Bottom Line Bust</button>
            </div>
        </div>
    </div>

    <script src="/js/socket.io.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>
